# Dependencies
/node_modules

# Build output
/dist

# Environment files
.env

# Test coverage
/coverage

# IDE files
/.idea
/.vscode
.project
.classpath

# Logs
*.log
logs

# Editor specific files
*.swp
*~
.idea/
*.iml
*.iws
*.ipr

# macOS specific files
.DS_Store
